<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
<div class="row">
<img src="{{p.image.url}}"style="height:300px;width:50%">
<div class="col-sm-6" >

          <h5 class="fw-bold">{{p.name}}</h5>
           <h6>price:{{p.price}}</h6>
           <h2>stock:{{p.stock}}</h2>
           <p style="text-align:justify;line-height:2;">{{p.desc}}</p>
            <p>stock:{{p.stock}}</p>
           <a href="{%  url 'cart:addtocart' p.name %}" class="btn btn-danger">Add to Cart</a>

        </div>
    </div></div>

{% endblock %}
    </div>

</body>
</html>
