<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<center>
<h2>Login</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="enter name">
</div>
<div class="mb-3">
    <label  class="form-label">Password</label>
  <input type="password" class="form-control" name="p" placeholder="enter password">
  </div>

<div class="mb-3">
    <input type="submit" class="form-control btn btn-primary"></input>
  </div>
</form>

{% endblock %}
    </center>
</body>
</html>