<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="container" style="margin-bottom:100px;">
<div class="row">
    {% if b %}
    <h3>Product name</h3>
    <h5>you have searched for {{q}}</h5>

{% for i in b %}
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="{{i.image.url}}" style="height:300px;width:100%;">
            <div class="card-body">
                <h5 class="card-title text-center fw-bold">{{i.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-center fw-bold">{{i.price}}</h6>

                <a href="{% url 'shop:details' i.name %}" class="btn btn-danger" style="position:relative;left:35%;">Details</a>
            </div>
        </div>
    </div>
{% endfor %}
    {% else %}
    <b><P>No Result Found</P></b>
    {% endif %}

{% endblock %}
</body>
</html>